<!--The content below is only a placeholder and can be replaced.-->
<h1 style="text-align:center">
  Search Pipe
</h1>
<label for="search">Search: </label>
<input name="search" [(ngModel)]="searchText" placeholder="search text goes here">
By Name: <input type="radio" name="Name" value="Name" [(ngModel)]='param'>
By LastName: <input type="radio" name="Name" value="LastName" [(ngModel)]='param'>
<br>
<table>
  <thead>
    <th> Name </th>
    <th> LastName </th>
  </thead>
  <tbody>
    <tr *ngFor="let p of people | search: [searchText, param]">
      <td> {{ p.Name }} </td>
      <td> {{ p.LastName }} </td>
    </tr>
  </tbody>
</table>

